body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background: whitesmoke;
}

* {
    box-sizing: border-box;
}

h1,
h3 {
    font-weight: 400;
}

/* .btn {
    list-style: none;
    
} */

.weather-app {
    min-height: 100vh;
    min-width: 100vh;
    /* background-image: url(../image/day.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    color: black;
    position: relative;
    transition: 500ms;
    opacity: 1;
    /* change to 0 once the whoel app is finished  */
}

.pb-3 {
    padding-bottom: 1rem!important;
}

.mbr-bold {
    font-weight: 700;
}

.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}

.display-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}


.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  .bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: index 0;

}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;

}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp .weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 7em;
    margin: 0;
}

weather img {
    display: block;
    margin: 0.5em 0;

}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background:
        rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0
    rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:
        1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 2.2em 2em;
    overflow-y: clip;
}

.panel form {
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #fa6d1b00;
    color: black;
    cursor: pointer;
    /*font-size: 1.2em;*/
    font-size : 15px;
    transition: 0.4s;
    margin: 10px 38px 0 0;


}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.submit:hover {
    background: #fff !important;
    color: #000;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    color: #fff;
    font-size: 1.1em;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: black;

}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;

}

.panel ul li {
    color: black;
    margin: 2.5em 0;

}


.panel el h4 {
    margin: 3em 0;
}

.city {
    display: block;
    cursor: pointer;
    
}


.city:hover {
    color: #fff;
}


.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cities li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: 0;
    font-size: 20;
}